/*Подключение шрифтов*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Стили основной страницы*/

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-container {
  min-height: 100%;
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 339px;
  list-style: none;
}

.logo {
  position: relative;
  margin-right: 30px;
  margin-bottom: -6px;
}

.user-list {
  max-width: 268px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
}

.user-list .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.section-hero {
  background-image: url("../images/mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #b3dcfd;
  color: white;
  padding: 51px 371px 82px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.section-advantages,
.section-service,
.subscription-wrapper {
  text-align: center;
}

.sedona-text-wrapper {
  padding: 69px 0 90px 0;
}

.sedona-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.sedona-text {
  color: #333333;
}

.advantages-list,
.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-list {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  width: 400px;
}

.advantages-item-wide {
  width: 100%;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-item-wrapper {
  width: 230px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 90px 85px;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: #f0f6fa;
  color: #333333;
}

.advantages-item:nth-child(3) {
  background-color: #e6f0f6;
  color: #333333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
}

.service-list {
  display: flex;
  width: 1200px;
}

.service-item {
  padding: 183px 85px 81px 85px;
}

.service-item:first-child,
.service-item:last-child {
  background-color: #83B3D31F;
}

.service-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-text {
  font-size: 18px;
  line-height: 21px;
}

.subscribe-wrapper {
  text-align: center;
  padding: 96px 304px;
}

.search-button {
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
}

.section-subscribe {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  padding: 96px 258px 104px;
}

.section-subscribe .subscribe-text {
  color: #333333;
}

.subscribe-image {
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #8aacb8;
  color: #ffffff;
}

.subscribe-text {
  color: #ffffff;
}

.section-contacts {
  display: flex;
  justify-content: space-around;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.social-list-item {
  min-height: 40px;
  min-width: 48px;
}

.footer-number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: black;
}

/*Стилизация внутренней страницы*/

.section-filter {
  color: #ffffff;
  padding: 35px 70px;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}

.filter-link {
  text-decoration: none;
  color: #ffffff;
}

.section-filter {
  background-image: url("../images/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #426C8F;
}

.form-group {
  display: flex;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.form-text {
  font-size: 18px;
  line-height: 23px;
}

.header-catalog {
  display: flex;
}

.section-catalog {
  padding: 50px 70px;
}

.sedona-title {
  margin-right: 200px;
}

.catalog-select {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.select-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.hotel-item:not(:last-child) {
  margin-right: 20px;
}

.hotel-link {
  text-decoration: none;
}

.hotel-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #83b3d3;
}

.current {
  background-color: #f2f2f2;
  color: #000000;
}
