/*Подключение шрифтов*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Стили основной страницы*/

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

.navigation-list {
  text-align: center;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.section-hero {
  background-image: url("../images/mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #b3dcfd;
  color: white;
}

.section-advantages,
.section-service,
.subscription-wrapper {
  text-align: center;
}

.sedona-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sedona-text {
  color: #333333;
}

.advantages-list,
.service-list,
.navigation-list {
  list-style: none;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: #f0f6fa;
  color: #333333;
}

.advantages-item:nth-child(3) {
  background-color: #e6f0f6;
  color: #333333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
}

.service-item:first-child,
.service-item:last-child {
  background-color: #83B3D31F;
}

.service-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-text {
  font-size: 18px;
  line-height: 21px;
}

.subscribe-wrapper {
  text-align: center;
}

.search-button {
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
}

.section-subscribe {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.section-subscribe .subscribe-text {
  color: #333333;
}

.subscribe-image {
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #8aacb8;
  color: #ffffff;
}

.subscribe-text {
  color: #ffffff;
}

.footer-number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: black;
}

/*Стилизация внутренней страницы*/

.section-filter {
  color: #ffffff;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.filter-list {
  font-size: 16px;
  line-height: 21px;
  list-style: none;
}

.filter-link {
  text-decoration: none;
  color: #ffffff;
}

.section-filter {
  background-image: url("../images/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #426C8F;
}

.form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.form-text {
  font-size: 18px;
  line-height: 23px;
}

.catalog-select {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.select-list {
  list-style: none;
}

.hotel-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-list {
  list-style: none;
}

.hotel-link {
  text-decoration: none;
}

.hotel-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.pagination-list {
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  color: #000000;
  background-color: #;
}
